<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="Kitten-Translate"
    Publisher="CN=nyarkus_"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Kitten Translate</DisplayName>
    <PublisherDisplayName>nyarkus_</PublisherDisplayName>
    <Logo>Assets\icons\PackageLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Kitten Translate"
        Description="Kitten Translate" 
        Square150x150Logo="Assets\icons\MediumTile.png" 
        Square44x44Logo="Assets\icons\AppIcon.png">
        <uap:SplashScreen  Image="Assets\icons\SplashScreen.png"/>
        <uap:DefaultTile Square71x71Logo="Assets\icons\AppIcon.png" 
        Wide310x150Logo="Assets\icons\WideTile.png" 
        Square310x310Logo="Assets\icons\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
